.book-card {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.image-container {
  flex: 0 0 20vw; /* Set width for image container in viewport width */
  margin-right: 20px;
}

.book-image {
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.text-container {
  flex: 1;
}

.book-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.book-authors {
  margin: 0;
  font-style: italic;
  color: #888;
}

.book-description {
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.5;
}
