.book-card {
  display: flex; 
  align-items: center; 
  margin-bottom: 20px; 
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
 }
 
 .image-container {
  flex: 1; 
  margin-right: 10px; 
 }
 
 .book-image {
  width: 100%; 
  height: auto;
 }
 
 .text-container {
  flex: 2;
 }
 
 .book-title {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
 }
 
 .book-authors {
  margin: 0.5em 0; 
  font-size: 1em;
  color: #666;
 }
 
 .book-description {
  margin: 0.5em 0; 
  font-size: 0.9em;
  color: #333;
 }
 