.book-card {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc; 
  padding-bottom: 20px; 
}

.image-container {
  width: 20%; 
  margin-bottom: 10px;
}

.book-image {
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.text-container {
  width: 120%; 
}

.book-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.book-authors {
  margin: 0;
  font-style: italic;
  color: #888;
}

.book-description {
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.5;
}
